@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: green;
  --secondary: lightgray;
  --success: lightgreen;
  --danger: red;
  --warning: yellow;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

a,
button {
  @apply cursor-pointer;
}

.container {
  @apply px-3 max-w-6xl mx-auto;
}

.link {
  @apply text-gray-500 text-sm hover:underline;
}

.h1 {
  @apply text-3xl font-bold capitalize;
}
